/*
** Teamspeak styles
*/

ul.teamspeak {
  list-style: none;
  list-style-image: none;
  border: none;
  text-align:left;
}

ul.teamspeak li {
  list-style: none;
  list-style-image: none;
  margin: 0 0 0 0.5em;
}
li.ts_channel {
  list-style: none;
  list-style-image: none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.ts_player {
  list-style: none;
  list-style-image: none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
div.ts_address {
  text-align: center;
}
div.ts_text {
  text-align: center;
}
div.ts_text p {
  margin-bottom: 0px;
}
